# Understading the sales data

In [8]:
print("hello world")

hello world

In [9]:
import pandas as pd

In [10]:

customers_dataset = pd.read_csv("data/olist_customers_dataset.csv")
print(customers_dataset.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [11]:

geolocation_dataset = pd.read_csv("data/olist_geolocation_dataset.csv")
print(customers_dataset.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [12]:

order_item_dataset = pd.read_csv("data/olist_order_items_dataset.csv")
print(customers_dataset.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [13]:
order_payments_dataset = pd.read_csv("data/olist_order_payments_dataset.csv")
order_payments_dataset.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [14]:
order_reviews_dataset = pd.read_csv("data/olist_order_reviews_dataset.csv")
order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [15]:
orders_dataset = pd.read_csv("data/olist_orders_dataset.csv")
orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [16]:
products_dataset = pd.read_csv("data/olist_products_dataset.csv")
print(products_dataset.head())

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

In [17]:
sellers_dataset = pd.read_csv("data/olist_sellers_dataset.csv")
print(sellers_dataset.head())

                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

In [18]:
translation = pd.read_csv("data/product_category_name_translation.csv")
print(translation)

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

Query 1: Total Revenue by Year and Quarter
pythonprint("=" * 60)
print("ðŸ“Š QUERY 1: Total Revenue by Year and Quarter")
print("=" * 60)

# Create temporary views so we can use SQL
fact_sales.createOrReplaceTempView("fact_sales")
dim_date.createOrReplaceTempView("dim_date")
dim_customer.createOrReplaceTempView("dim_customer")
dim_product.createOrReplaceTempView("dim_product")
dim_seller.createOrReplaceTempView("dim_seller")

# SQL Query
query1 = """
SELECT 
    d.year,
    d.quarter,
    COUNT(DISTINCT f.order_id) as total_orders,
    COUNT(f.sale_key) as total_items_sold,
    ROUND(SUM(f.total_amount), 2) as total_revenue,
    ROUND(AVG(f.total_amount), 2) as avg_order_value
FROM fact_sales f
JOIN dim_date d ON f.date_key = d.date_key
GROUP BY d.year, d.quarter
ORDER BY d.year, d.quarter
"""

result1 = spark.sql(query1)
display(result1)
Business Question: "How is our revenue trending over time?"

Query 2: Top 10 Best-Selling Product Categories
pythonprint("=" * 60)
print("ðŸ“Š QUERY 2: Top 10 Best-Selling Product Categories")
print("=" * 60)

query2 = """
SELECT 
    p.product_category_name as category,
    COUNT(f.sale_key) as items_sold,
    ROUND(SUM(f.total_amount), 2) as total_revenue,
    ROUND(AVG(f.review_score), 2) as avg_rating
FROM fact_sales f
JOIN dim_product p ON f.product_key = p.product_key
WHERE p.product_category_name != 'Unknown'
GROUP BY p.product_category_name
ORDER BY total_revenue DESC
LIMIT 10
"""

result2 = spark.sql(query2)
display(result2)
Business Question: "Which product categories make us the most money?"

Query 3: Customer Segmentation Analysis
pythonprint("=" * 60)
print("ðŸ“Š QUERY 3: Revenue by Customer Segment")
print("=" * 60)

query3 = """
SELECT 
    c.customer_segment,
    COUNT(DISTINCT c.customer_key) as total_customers,
    COUNT(f.sale_key) as total_purchases,
    ROUND(SUM(f.total_amount), 2) as total_revenue,
    ROUND(AVG(f.total_amount), 2) as avg_purchase_value,
    ROUND(SUM(f.total_amount) / COUNT(DISTINCT c.customer_key), 2) as revenue_per_customer
FROM fact_sales f
JOIN dim_customer c ON f.customer_key = c.customer_key
GROUP BY c.customer_segment
ORDER BY total_revenue DESC
"""

result3 = spark.sql(query3)
display(result3)
Business Question: "Which customer segments are most valuable?"

Query 4: Top 10 States by Revenue
pythonprint("=" * 60)
print("ðŸ“Š QUERY 4: Top 10 States by Revenue")
print("=" * 60)

query4 = """
SELECT 
    c.customer_state as state,
    COUNT(DISTINCT f.order_id) as total_orders,
    ROUND(SUM(f.total_amount), 2) as total_revenue,
    ROUND(AVG(f.review_score), 2) as avg_customer_satisfaction
FROM fact_sales f
JOIN dim_customer c ON f.customer_key = c.customer_key
GROUP BY c.customer_state
ORDER BY total_revenue DESC
LIMIT 10
"""

result4 = spark.sql(query4)
display(result4)
Business Question: "Which states generate the most revenue?"

Query 5: Sales Performance by Day of Week
pythonprint("=" * 60)
print("ðŸ“Š QUERY 5: Sales by Day of Week")
print("=" * 60)

query5 = """
SELECT 
    d.day_name,
    d.is_weekend,
    COUNT(f.sale_key) as total_sales,
    ROUND(SUM(f.total_amount), 2) as revenue,
    ROUND(AVG(f.total_amount), 2) as avg_order_value
FROM fact_sales f
JOIN dim_date d ON f.date_key = d.date_key
GROUP BY d.day_name, d.is_weekend, d.day_of_week
ORDER BY d.day_of_week
"""

result5 = spark.sql(query5)
display(result5)
Business Question: "Do we sell more on weekends or weekdays?"

Query 6: Top 10 Sellers by Performance
pythonprint("=" * 60)
print("ðŸ“Š QUERY 6: Top 10 Sellers by Revenue")
print("=" * 60)

query6 = """
SELECT 
    s.seller_state,
    s.seller_city,
    COUNT(f.sale_key) as items_sold,
    ROUND(SUM(f.total_amount), 2) as total_revenue,
    ROUND(AVG(f.review_score), 2) as avg_seller_rating
FROM fact_sales f
JOIN dim_seller s ON f.seller_key = s.seller_key
GROUP BY s.seller_state, s.seller_city
ORDER BY total_revenue DESC
LIMIT 10
"""

result6 = spark.sql(query6)
display(result6)
Business Question: "Who are our top-performing sellers?"

Query 7: Customer Satisfaction Analysis
pythonprint("=" * 60)
print("ðŸ“Š QUERY 7: Review Score Distribution")
print("=" * 60)

query7 = """
SELECT 
    f.review_score,
    COUNT(f.sale_key) as number_of_reviews,
    ROUND(COUNT(f.sale_key) * 100.0 / SUM(COUNT(f.sale_key)) OVER (), 2) as percentage
FROM fact_sales f
WHERE f.review_score > 0
GROUP BY f.review_score
ORDER BY f.review_score DESC
"""

result7 = spark.sql(query7)
display(result7)
Business Question: "How satisfied are our customers?"

Query 8: Monthly Revenue Trend (2017-2018)
pythonprint("=" * 60)
print("ðŸ“Š QUERY 8: Monthly Revenue Trend")
print("=" * 60)

query8 = """
SELECT 
    d.year,
    d.month,
    d.month_name,
    COUNT(DISTINCT f.order_id) as orders,
    ROUND(SUM(f.total_amount), 2) as revenue,
    ROUND(AVG(f.total_amount), 2) as avg_order_value
FROM fact_sales f
JOIN dim_date d ON f.date_key = d.date_key
WHERE d.year IN (2017, 2018)
GROUP BY d.year, d.month, d.month_name
ORDER BY d.year, d.month
"""

result8 = spark.sql(query8)
display(result8)
Business Question: "What's our monthly revenue trend?"

Query 9: Payment Methods Analysis
pythonprint("=" * 60)
print("ðŸ“Š QUERY 9: Payment Installments Analysis")
print("=" * 60)

query9 = """
SELECT 
    f.payment_installments,
    COUNT(f.sale_key) as number_of_transactions,
    ROUND(SUM(f.payment_value), 2) as total_payment_value,
    ROUND(AVG(f.payment_value), 2) as avg_payment_value
FROM fact_sales f
WHERE f.payment_installments > 0
GROUP BY f.payment_installments
ORDER BY f.payment_installments
"""

result9 = spark.sql(query9)
display(result9)
Business Question: "How do customers prefer to pay? (Installments)"

Query 10: Advanced - Customer Lifetime Value (CLV)
pythonprint("=" * 60)
print("ðŸ“Š QUERY 10: Top 20 Customers by Lifetime Value")
print("=" * 60)

query10 = """
SELECT 
    c.customer_key,
    c.customer_city,
    c.customer_state,
    c.customer_segment,
    COUNT(DISTINCT f.order_id) as total_orders,
    COUNT(f.sale_key) as total_items_purchased,
    ROUND(SUM(f.total_amount), 2) as lifetime_value,
    ROUND(AVG(f.total_amount), 2) as avg_order_value,
    ROUND(AVG(f.review_score), 2) as avg_satisfaction
FROM fact_sales f
JOIN dim_customer c ON f.customer_key = c.customer_key
GROUP BY c.customer_key, c.customer_city, c.customer_state, c.customer_segment
ORDER BY lifetime_value DESC
LIMIT 20
"""

result10 = spark.sql(query10)
display(result10)